# Folders
/elpaca
/auto-save-list/

# Temp files
*~
/eln-cache/
/.emacs.desktop
/.emacs.desktop.lock
/elpa/
/history
/recentf
/tree-sitter/
/undohist/
*.el#
/tramp
/transient/
/places
/elgrep-data.el
