# Core Folders
/elpaca
/elpa/
/var/

# Temp files
*~
*.el#
/eln-cache/
/.emacs.desktop
/.emacs.desktop.lock

# Package-created files and folders
/auto-save-list/
/history
/recentf
/tree-sitter/
/undohist/
/tramp
/transient/
/places
/elgrep-data.el
/fontaine-latest-state.eld
/etc/scratch/
/etc/emacs-llm-prompting.org
/..emacs.d-tabspaces-session.el
/site-lisp/
*.sqlite
.aider*
